* {
    box-sizing: border-box;
}

html {
    font-size: 65%;
    background-color: #fff;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

main {
    padding: 6px;
}

select {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 7px;
    width: 100%;
}
