{
    "plugins": [
        [
            "transform-class-properties",
            "transform-react-jsx"
        ]
    ],
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "ie >= 9"
                    ]
                }
            }
        ]
    ]
}