.header {
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.navigation {
    height: 100%;
}

.navigation__item {
    width: 50%;
    height: 100%;
    display: inline-block;
    padding: 0 11px;
    margin: 0;
    float: left;
    font-size: 1.8rem;
    color: #505b69;
    text-decoration: none;
}

.navigation__item_active {
    border-bottom: 4px solid #ffc80a;
    font-weight: bold;
    color: #000;
}

@supports (display: flex) {
    .navigation__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    header {
        height: 80px;
    }

    .navigation {
        margin-left: 53px;
    }

    .navigation__item {
        width: auto;
    }

    .navigation__item:first-child {
        margin-right: 40px;
    }
}
