.employees {
    padding: 6px;
}

.employee {
    padding: 6px;
}

.employee__wrapper {
    display: block;
    padding: 11px 11px 11px 87px;
    position: relative;
    height: 81px;
    border: 1px solid #FFF;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
    text-decoration: none;
    color: #333;
}
.employee__wrapper:hover {
    border: 1px solid #DDD;
}

.employee__avatar {
    position: absolute;
    top: 11px;
    left: 11px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: block;
}

.employee__name {
    margin: 0;
    padding: 5px 0;
    font-size: 1.6rem;
}

.employee__date {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    color: #9fa3af;
}

.employee__subscribe {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 26px;
    height: 26px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #e7e8eb;
    background: none;
}

.employee__subscribe-icon {
    display: block;
}

@media screen and (min-width: 768px) {
    main {
        padding: 12px;
    }

    .employee {
        padding: 12px;
        width: 50%;
        float: left;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.clear {
    clear: both;
}